body{
    margin:0;
    padding:0;
    overflow-x: hidden;
    font-family: 'Noto Serif', serif;
}

/*Personalized Scroll */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #B39A68;
    border-radius: 5px;
    
  }
  
 